services/target/
fres-web-client/target/
fres-web-admin/target/
common/target/
*.iml
*.prefs
common/bin/
fres-web-client/bin/
*.class
services/bin/
*.project
*.classpath
.idea/

LogFile
LogFile.log
*.gz
**/*.log
